<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
    <Name>OvenMediaEngine</Name>
    <!-- Host type (origin/edge) -->
    <Type>origin</Type>
    <!-- Specify IP address to bind (* means all IPs) -->
    <IP>*</IP>

    <!-- 
    To get the public IP address(mapped address of stun) of the local server. 
    This is useful when OME cannot obtain a public IP from an interface, such as AWS or docker environment. 
    If this is successful, you can use ${PublicIP} in your settings.
    -->
    <StunServer>stun.l.google.com:19302</StunServer>

    <!-- Settings for the ports to bind -->
    <Bind>

        <Providers>
            <RTMP>
                <Port>1935</Port>
                <!-- <WorkerCount>1</WorkerCount> -->
            </RTMP>
            <SRT>
                <Port>9999</Port>
                <!-- <WorkerCount>1</WorkerCount> -->
            </SRT>
        </Providers>

        <Publishers>
            <HLS>
                <!-- <Port>80</Port> -->
                <!-- If you want to use TLS, specify the TLS port -->
                <TLSPort>80</TLSPort>
                <!-- <WorkerCount>4</WorkerCount> -->
            </HLS>
            <DASH>
                <!-- <Port>80</Port> -->
                <!-- If you want to use TLS, specify the TLS port -->
                <TLSPort>80</TLSPort>
                <!-- <WorkerCount>4</WorkerCount> -->
            </DASH>
        </Publishers>
    </Bind>

    <VirtualHosts>
        <!-- You can use wildcard like this to include multiple XMLs -->
        <VirtualHost include="VHost*.xml" />
        <VirtualHost>
            <Name>default</Name>

            <!-- Settings for multi ip/domain and TLS -->
            <Host>
                <Names>
                    <!-- Host names
                        <Name>stream1.airensoft.com</Name>
                        <Name>stream2.airensoft.com</Name>
                        <Name>*.sub.airensoft.com</Name>
                        <Name>192.168.0.1</Name>
                    -->
                    <Name>*</Name>
                </Names>
                
                <TLS>
                    <CertPath>etc/certificates/Dwaan.localdomain.crt</CertPath>
                    <KeyPath>etc/certificates/Dwaan.localdomain.key</KeyPath>
                    <ChainCertPath>etc/certificates/ca.crt</ChainCertPath>
                </TLS>
               
            </Host>

        
            <!-- Settings for applications -->
            <Applications>
                <Application>
                    <Name>app</Name>
                    <!-- Application type (live/vod) -->
                    <Type>live</Type>
                    <OutputProfiles>
                        <OutputProfile>
                            <Name>bypass_stream</Name>
                            <OutputStreamName>${OriginStreamName}</OutputStreamName>
                            <Encodes>
                                <Audio>
                                    <Bypass>true</Bypass>
                                </Audio>
                                <Video>
                                    <Bypass>true</Bypass>
                                </Video>
                                <Audio>
                                    <Codec>opus</Codec>
                                    <Bitrate>128000</Bitrate>
                                    <Samplerate>48000</Samplerate>
                                    <Channel>2</Channel>
                                </Audio>
                                <!--                             
                                <Video>
                                    <Codec>vp8</Codec>
                                    <Bitrate>1024000</Bitrate>
                                    <Framerate>30</Framerate>
                                    <Width>1280</Width>
                                    <Height>720</Height>
                                </Video>                                
                                -->
                            </Encodes>
                        </OutputProfile>


                    </OutputProfiles>
                    <Providers>
                        <OVT />
                        <WebRTC />
                        <RTMP />
                        <SRT />
                        <MPEGTS>
                            <StreamMap>
                                <!--
                                    Set the stream name of the client connected to the port to "stream_${Port}"
                                    For example, if a client connets to port 4000, OME creates a "stream_4000" stream
                                -->
                                <Stream>
                                    <Name>stream_${Port}</Name>
                                    <Port>4000,4001-4004</Port>
                                </Stream>
                                <Stream>
                                    <Name>stream_4005</Name>
                                    <Port>4005</Port>
                                </Stream>
                            </StreamMap>
                        </MPEGTS>
                        <RTSPPull />
                        <WebRTC>
                            <Timeout>30000</Timeout>
                        </WebRTC>
                    </Providers>
                    <Publishers>
                        <SessionLoadBalancingThreadCount>8</SessionLoadBalancingThreadCount>
                        <OVT />
                        <WebRTC>
                            <Timeout>30000</Timeout>
                            <Rtx>true</Rtx>
                            <Ulpfec>true</Ulpfec>
                        </WebRTC>
                        <HLS>
                            <SegmentDuration>3</SegmentDuration>
                            <SegmentCount>3</SegmentCount>
                            <CrossDomains>
                                <Url>*</Url>
                            </CrossDomains>
                        </HLS>
                        <DASH>
                            <SegmentDuration>3</SegmentDuration>
                            <SegmentCount>3</SegmentCount>
                            <CrossDomains>
                                <Url>*</Url>
                            </CrossDomains>
                        </DASH>
                        <LLDASH>
                            <SegmentDuration>3</SegmentDuration>
                            <CrossDomains>
                                <Url>*</Url>
                            </CrossDomains>
                        </LLDASH>
                        <!--
                        <Thumbnail>
                            <CrossDomains>
                                <Url>*</Url>
                            </CrossDomains>    
                        </Thumbnail>
                        -->
                    </Publishers>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>